---
export interface Props {
    sectionId: string;
}

const { sectionId } = Astro.props;
---

<div class="snap-start scroll-mb-40">
    <section id={sectionId} class="section w-full min-h-screen flex flex-col items-center relative">
        <slot />
    </section>
</div>