---
import AboutSection from '../components/AboutSection.astro';
import AbilitiesSection from '../components/AbilitiesSection.astro';
import Header from '../components/Header.astro';
import HomeSection from '../components/HomeSection.astro';
import ProjectsSection from '../components/ProjectsSection.astro';
import Layout from '../layouts/Layout.astro';
---

<Layout title="Portfolio - Daniel Marchena Jiménez">
	<Header />

	<main class="relative w-screen h-screen overflow-y-scroll snap-y snap-mandatory">
		<HomeSection />
	
		<!--<AboutSection />-->

		<AbilitiesSection />
	
		<ProjectsSection />
	</main>
</Layout>