---
import AbilitiesSection from '../components/abilities/AbilitiesSection.astro';
import Header from '../components/header/Header.astro';
import HomeSection from '../components/home/HomeSection.astro';
import ProjectsSection from '../components/projects/ProjectsSection.astro';
import Layout from '../layouts/Layout.astro';
---

<Layout title="Portfolio - Daniel Marchena Jiménez">
	<Header />

	<main class="relative w-screen h-screen overflow-auto snap-y snap-mandatory">
		<HomeSection />

		<AbilitiesSection />
	
		<ProjectsSection />
	</main>
</Layout>