<header class="flex h-screen place-content-center fixed right-8 z-50
                max-sm:w-full max-sm:h-20 max-sm:right-0 max-sm:backdrop-blur-sm max-sm:bg-white/5">
    <nav class="my-auto">
        <ul class="flex flex-col gap-5 items-center font-bold text-xl
                    max-sm:flex-row max-sm:gap-10">
            <li>
                <a href="#home" id="home-menu-item" class="menu-item hover:scale-110 hover:animate-pulse">Inicio</a>
            </li>
            <li>
                <a href="#abilities" id="abilities-menu-item" class="menu-item hover:scale-110 hover:animate-pulse">Habilidades</a>
            </li>
            <li>
                <a href="#projects" id="projects-menu-item" class="menu-item hover:scale-110 hover:animate-pulse">Proyectos</a>
            </li>
        </ul>
    </nav>
</header>

<script>
    const observerOptions = {
        root: null,
        rootMargin: '0px',
        threshold: 0.1
    }

    const observer = new IntersectionObserver(entries => {
        entries.forEach(entry => {
            if (entry.isIntersecting) {
                const menuItems = document.querySelectorAll(".menu-item")

                menuItems.forEach(menuItem => {
                    if (menuItem.id.includes(entry.target.id)) {
                        menuItem.classList.toggle("scale-110", true)
                        menuItem.classList.toggle("animate-pulse", true)
                    } else {
                        menuItem.classList.toggle("scale-110", false)
                        menuItem.classList.toggle("animate-pulse", false)
                    }
                })
            }
        })
    }, observerOptions)

    const sections = document.querySelectorAll(".section")
    sections.forEach(section => observer.observe(section))
</script>