---
import AbilityBox from "./AbilityBox.astro";
import Section from "./Section.astro";

---

<Section sectionId="abilities">
    <h2 class="my-24 mb-40 text-4xl font-semibold">Habilidades</h2>
    <div class="flex flex-row flex-wrap gap-20 place-content-center px-32">
        <AbilityBox title="JavaScript" img="" color="" bgColor="yellow"/>
        <AbilityBox title="JavaScript" img="" color="" bgColor="yellow"/>
        <AbilityBox title="JavaScript" img="" color="" bgColor="yellow"/>
        <AbilityBox title="JavaScript" img="" color="" bgColor="yellow"/>
        <AbilityBox title="JavaScript" img="" color="" bgColor="yellow"/>
        <AbilityBox title="JavaScript" img="" color="" bgColor="yellow"/>
        <AbilityBox title="JavaScript" img="" color="" bgColor="yellow"/>
    </div>
</Section>