---
export interface Props {
    id: string
    title: string
    abbreviation: string
    icon: string
    color: string
    bgColor: string
}

const { id, title, abbreviation, icon, color, bgColor } = Astro.props
---

<div class="rounded-md flex items-center p-5" style={ "background-color:" + bgColor + "; border-color:" + color + ";" }>
    <img class="w-10" src={icon} alt={title} />
</div>