---
import Section from "./Section.astro";

---

<Section sectionId="home">
    <div class="grid grid-cols-2 mx-36 my-auto max-h-screen items-center
                max-lg:flex max-lg:flex-col max-lg:mx-10">
        <div class="">
            <img src="./retrato.png" class="max-h-screen object-contain
                                            max-lg:max-h-[500px]
                                            max-sm:max-h-[350px]"/>
        </div>
        <div class="flex">
            <h2 class="flex flex-col text-xl font-bold">
                <span class="text-2xl max-xl:text-lg">Soy Daniel Marchena Jiménez</span>
                <span class="text-4xl max-xl:text-2xl">Ingeniero Software</span>
                <span class="text-3xl max-xl:text-xl">Fullstack Developer</span>
                <span class="text-3xl max-xl:text-xl">Cloud Developer</span>
            </h1>
        </div>
    </div>
</Section>