---
import ProjectBox from "./ProjectBox.astro";
import Section from "./Section.astro";
import TitleSection from "./TitleSection.astro";
---
<Section sectionId="projects">
    <TitleSection>Proyectos</TitleSection>
    <div class="flex flex-col gap-52 pb-32 mx-44 items-center
                max-sm:mx-14">
        <ProjectBox id="chat"
                    title="Chat"
                    description="Chat en Java usando Sockets. Interfaz hecha con JavaFx y SceneBuilder."
                    img={["./chat/1.png", "./chat/2.png", "./chat/3.png"]}
                    githubUrl="https://github.com/Mininh1206/Chat-JavaFx"/>
        <ProjectBox id="ajedrez"
                    title="Ajedrez"
                    description="Ajedrez hecho con Java y JavaFx."
                    img={["./ajedrez/1.png", "./ajedrez/2.png"]}
                    githubUrl="https://github.com/Mininh1206/Ajedrez-JavaFx"/>
        <ProjectBox id="reproductor-musica"
                    title="Reproductor de música"
                    description="Reproductor de música local para Android hecho en AndroidStudio con Kotlin."
                    img={["./chat/1.png", "./chat/2.png", "./chat/3.png"]}
                    githubUrl="https://github.com/Mininh1206/Reproductor-Musica-Android"/>
    </div>
</Section>

<script>
    const carouselsImagesProjects = document.querySelectorAll(".carousel-images-projects")

    carouselsImagesProjects.forEach(carouselImagesProjects => {
        carouselImagesProjects.firstElementChild.addEventListener('click', event => {
            carouselImagesProjects.scrollBy(-10, 0)
        })

        carouselImagesProjects.lastElementChild.addEventListener('click', event => {
            carouselImagesProjects.scrollBy(10, 0)
        })
    })
</script>