---
import ProjectBox from "./ProjectBox.astro";
import Section from "./Section.astro";
---
<Section sectionId="projects">
    <h2 class="my-24 mb-32 text-4xl font-semibold">Proyectos</h2>
    <div class="flex flex-col gap-80 pb-60 px-32">
        <ProjectBox title="Chat"
                    description="Chat con Java e interfaz en JavaFx"
                    githubUrl="https://github.com/Mininh1206/Chat-JavaFx"/>
        <ProjectBox title='Ajedrez'
                    description='Ajedrez con Java e interfaz en JavaFx'
                    githubUrl="https://github.com/Mininh1206/Ajedrez-JavaFx"/>
        <ProjectBox title='Reproductor de música'
                    description='Reproductor de música para Android hecho en AndroidStudio con Kotlin'
                    githubUrl="https://github.com/Mininh1206/Reproductor-Musica-Android"/>
    </div>
</Section>