---
export interface Props {
	title: string;
}

const { title } = Astro.props;
---

<!DOCTYPE html>
<html lang="en">
	<head>
		<meta charset="UTF-8" />
		<meta name="description" content="Astro description">
		<meta name="viewport" content="width=device-width" />
		<link rel="icon" type="image/svg+xml" href="/favicon.svg" />
		<meta name="generator" content={Astro.generator} />
		<title>{title}</title>
	</head>
	<body>
		<slot />
		<script>
			window.addEventListener("load",function() {
				setTimeout(function(){
					// This hides the address bar:
					window.scrollTo(0, 1);
				}, 0);
			});
		</script>
	</body>
</html>
<style is:global>
:root{
	--primary: #27374D;
	--secundary: #9DB2BF;
	--shadow: #526D82;
	--terciary: #DDE6ED;
}

*{
	color: var(--primary);
}

body{
	background-color: var(--terciary);
}

.project-div{
	background-color: var(--secundary);
	filter: drop-shadow(1rem 1.25rem 0.8rem var(--shadow));
}
</style>
